.BorTit
  border-left: 4px solid $color-acento-contenido
  padding: 0px 0px 0px 10px
  font-size: 0.8em

iframe
  border-radius: 10px

figcaption
  margin-top: 4px

caption
  margin-top: 4px

.texto-negro
  color: $color-sistema-texto !important

.border-radius-15
  border-radius: 15px

.border-radius-10
  border-radius: 10px

.titulo-principal.color-acento-contenido .titulo-principal__numero span 
    color: white !important


.t1-fondo1
  background: rgba(241,226,208,1);
  background: -moz-linear-gradient(top, rgba(241,226,208,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,226,208,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(241,226,208,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(241,226,208,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(241,226,208,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(241,226,208,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e2d0', endColorstr='#ffffff', GradientType=0 );

.t4-fondo1
  background: rgba(254,218,167,1);
  background: -moz-linear-gradient(top, rgba(254,218,167,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,218,167,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(254,218,167,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(254,218,167,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,218,167,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(254,218,167,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fedaa7', endColorstr='#ffffff', GradientType=0 );

.t4-fondo2
  background: rgba(244,211,209,1);
  background: -moz-linear-gradient(top, rgba(244,211,209,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,211,209,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(244,211,209,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(244,211,209,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(244,211,209,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(244,211,209,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d3d1', endColorstr='#ffffff', GradientType=0 );


.t4-fondo3
  background: rgba(251,247,241,1);
  background: -moz-linear-gradient(top, rgba(251,247,241,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,247,241,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(251,247,241,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(251,247,241,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(251,247,241,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(251,247,241,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf7f1', endColorstr='#ffffff', GradientType=0 );

.t4-fondo4
  background: rgba(241,226,207,1);
  background: -moz-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,226,207,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(241,226,207,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e2cf', endColorstr='#ffffff', GradientType=0 );


.bloque-texto-d i     
    color: #D44F4A

.bloque-texto-d 
    border-top: 1px solid #D44F4A !important

.bloque-texto-d.color-acento-contenido:before 
    background-color: #FAF4EC !important

.num
  min-width: 36px !important
  min-height: 36px !important  
  width: 36px !important
  height: 36px !important

.celnum  
  min-width: 44px !important
  min-height: 44px !important  
  width: 44px !important
  height: 4px !important

.num-bor
  border-bottom: 2px solid #D44F4A

.slyder-a__tipo-a .slyder-a__bullets
  bottom: 5px !important


.linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #F8F1E7;

.bloque-texto-f.color-acento-contenido:before 
    background-color: #FBF8F4 !important

.bloque-texto-f__comillas i    
    color: #D44F4A !important

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #D44F4A !important
 

.slyder-a__bullets__item--active 
    background-color: #D44F4A !important
    border-color: #D44F4A !important

.t1.anexo
  background-color: #F4E9D9 !important

.t5.anexo
  background-color: white !important

.cajon.color-acento-contenido
    background-color: #FBF7F1;

.t2-border
  border-top: 2px solid #D44F4A
  border-bottom: 2px solid #D44F4A

.t5-border  
  border-bottom: 2px solid #D44F4A

.fondo
  background-size:     cover;                  
  background-repeat:   no-repeat;
  background-position: center center;

.fondo2
  background-size:     contain;                  
  background-repeat:   no-repeat;
  background-position: center center;

  

.img-infografica.color-primario .img-infografica__item__numero, .img-infografica-b.color-primario .img-infografica__item__numero
    color: white

.t3.tarjeta.color-acento-contenido
  border: 3px solid white
  background-color: #EED7B9

.pasos-a.color-primario .pasos-a__circle div
  color: white !important

.t5.cajon.color-primario
  background-color: #FBF7F1

.bloque-texto-g__img 
  left: 50% !important  

.bloque-texto-g__texto   
  width: 60% !important    
  right: 40%
  

.LineaTiempoD-t4 .linea-tiempo-d__item__content.tarjeta.tarjeta--gris 
    background-color: FFEFD9;    

.tarjeta--boton.color-acento-contenido:hover 
    background-color: #E4C7A1;

.t4-img
  height: 30%

.t4-bloque10 .bloque-texto-g__img 
  left: 0% !important  
  width: 100% !important    

.t4-bloque10 .bloque-texto-g__texto   
  left: 0%
  
  



.t4-bloque2 .bloque-texto-g__img 
  left: 50% !important  

.t4-bloque2  .bloque-texto-g__texto   
  width: 70% !important    
  right: 30%

.t4-bloque2 .bloque-texto-g.color-primario 
  background-color: #A8433E;

.t4-div10 .tarjeta-flip.color-primario .tarjeta-flip__contenido 
    background-color: #F8E4E3;
    color: #12263F;

.t4-div10 .tarjeta-flip.color-primario .tarjeta-flip__img
    background-color: transparent;
    color: #12263F;

.t4-div11 .tarjeta-flip.color-primario .tarjeta-flip__contenido 
    background-color: #FFEFD9;
    color: #12263F;

.t4-div11 .tarjeta-flip.color-primario .tarjeta-flip__img
    background-color: transparent;
    color: #12263F;    

.borde-t4
  border: 2px solid #D44F4A

  







